body { display: flex; flex-direction: column; min-height: 100vh; margin: 0; padding: 0; font-family: sans-serif } 
#e-_left { order: -1 }

@media (min-width: 768px) {
#e-_middle { display: flex; flex: 1 } #e-_center { flex: 1 } #e-_left, #e-_right { flex: 0 0 20vw } 
}

a { text-decoration: none }

/*css drop menus. maintain this order (https://css-tricks.com/solved-with-css-dropdown-menus/)*/
.nav_menu {  }
.nav_menu > ul { display:flex }
.nav_menu li { display:block }
.nav_menu li:hover { cursor:pointer }
.nav_menu li:focus-within a { outline:none }
.nav_menu ul li ul { display:none; position:absolute; padding-left:0; background:#FFFFFF }
.nav_menu ul li:focus-within > ul, #nav_main ul li:hover > ul, #nav_main ul li ul:hover { display:block }
.nav_menu ul li ul li { clear:both; width:100% }