html, body { margin: 0; padding: 0 }

ul { list-style-type: none; margin: 0 }

body, #e-_middle { display: flex; flex-direction: column }

#e-_left { order: -1 }

@media (min-width: 768px) {
#e-_middle { flex-direction: row; flex: 1 }
#e-_center { flex: 1 }
#e-_left, #e-_right { flex: 0 }
}




/*
body { display: flex; flex-direction: column; min-height: 100vh; margin: 0; padding: 0 } 

#e-_left { order: -1 }

@media (min-width: 768px) { 
#e-_middle { display: flex; flex: 1 } 
#e-_center { flex: 1 } 
#e-_left, #e-_right { flex: 0 0 20vw } 
}
*/